{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>HomePage</title>
    <script src="{% static 'logic.js' %}"></script>
</head>
<body>
    <div>
        <Button id="Dark" onclick="darkMode()">Dark Mode</Button></h1>
    </div>
    <div>
        <a href="/"><li>Home</li></a>
        <a href="/Main"><li>Main</li></a>
        <a href="/ChatBot"><li>ChatBot</li></a>
        <a href="/AboutUs"><li>About Us</li></a>
        <a href="/trainedmodel"><li>Model</li></a>
    </div>
    <div><h1>Welcome to my Website</h1>
    Here, You can get information according to your need!
    </div>
    
</body>
</html>